.slick-list {
  margin-top: 100px !important;
}

.slick-slider {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  left: 50%; /* Căn giữa */
  transform: translateX(-50%);
  z-index: 2; /* Hiển thị trên slide */
  bottom: 15px !important;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white; /* Đổi màu dots */
}

.slick-dots li.slick-active button:before {
  color: #ffcc00; /* Màu dots đang hoạt động */
}

.logo_ {
  padding: 16px;
  text-align: center;
}
.logo_ img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
}

.ant-avatar {
  background: #999;
}

:where(.css-dev-only-do-not-override-mzhxf2).ant-divider-horizontal {
  margin: 5px 0px !important;
}

:where(.css-dev-only-do-not-override-mzhxf2).ant-popover .ant-popover-inner {
  background-color: #fff !important;
}

